<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config xmlns="http://www.richard-strauss-ausgabe.de/ns/1.0">
    <version>0.9.9</version>
    <transferFocusAfterInsert>true</transferFocusAfterInsert>
    <tabIndex>1</tabIndex>
    <memTabSearchFieldScopeIndex>4</memTabSearchFieldScopeIndex>
    <allTabSearchFieldScopeIndex>4</allTabSearchFieldScopeIndex>
    <userViewIndex>0</userViewIndex>
    <allTabViewIndex>0</allTabViewIndex>
    <glyphTables>
        <glyphTable>
            <name>Edirom SMuFL Browser</name>
            <path>http://edirom.de/smufl-browser/index.xml</path>
            <font>BravuraText</font>
            <renderer>bitmap</renderer>
            <sizeFactor>0.8</sizeFactor>
            <template>&lt;g ref="http://edirom.de/smufl-browser/${id}.xml"/&gt;</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </glyphTable>
        <glyphTable>
            <name>ENRICH gBank</name>
            <path>http://richard-strauss-werke.github.io/glyphpicker/testdata/gBankImages/gBank.xml</path>
            <font>Andron Scriptor Web</font>
            <renderer>bitmap</renderer>
            <sizeFactor>1.0</sizeFactor>
            <template>&lt;g ref="#${id}"/&gt;</template>
            <typeAttributeValue></typeAttributeValue>
            <subtypeAttributeValue>PUA</subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </glyphTable>
    </glyphTables>
</config>
