<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config>
    <dataSources>
        <dataSource>
            <label>Edirom SMuFL-Browser local</label>
            <basePath>/Users/Ahlse/Desktop/SMuFL-Browser-1.0/data/charDecl.xml</basePath>
            <fontName>BravuraText</fontName>
            <displayMode>vector</displayMode>
            <template>${basePath}#{id}</template>
            <mappingAttName>type</mappingAttName>
            <mappingAttValue>smufl</mappingAttValue>
        </dataSource>
        <dataSource>
            <label>gBank local</label>
            <basePath>/Users/Ahlse/Desktop/gBankImages/gBank.xml</basePath>
            <fontName>Andron Scriptor Web</fontName>
            <displayMode>vector</displayMode>
            <template>${basePath}#${id}</template>
            <mappingAttName>subtype</mappingAttName>
            <mappingAttValue>PUA</mappingAttValue>
        </dataSource>
        <dataSource>
            <label>Edirom SMuFL-Browser aerhard</label>
            <basePath>http://aerhard.github.io/glyphpicker/testdata/smuflBrowser/data/charDecl.xml</basePath>
            <fontName>BravuraText</fontName>
            <displayMode>vector</displayMode>
            <template>${basePath}#${id}</template>
            <mappingAttName>type</mappingAttName>
            <mappingAttValue>smufl</mappingAttValue>
        </dataSource>
        <dataSource>
            <label>gBank aerhard</label>
            <basePath>http://aerhard.github.io/glyphpicker/testdata/gBankImages/gBank.xml</basePath>
            <fontName>BravuraText</fontName>
            <displayMode>vector</displayMode>
            <template>${basePath}#${id}</template>
            <mappingAttName>subtype</mappingAttName>
            <mappingAttValue>PUA</mappingAttValue>
        </dataSource>
        <dataSource>
            <label>Edirom SMuFL-Browser json</label>
            <basePath>/Users/Ahlse/Desktop/SMuFL-Browser-1.0/data/smufl.json</basePath>
            <fontName>BravuraText</fontName>
            <displayMode>vector</displayMode>
            <template>${basePath}#${id}</template>
            <mappingAttName>type</mappingAttName>
            <mappingAttValue>smufl</mappingAttValue>
        </dataSource>
        <dataSource>
            <label>Edirom SMuFL-Browser localhost 1</label>
            <basePath>http://localhost:8080/exist/apps/smufl-browser/list/</basePath>
            <fontName>BravuraText</fontName>
            <displayMode>vector</displayMode>
            <template>${basePath}#${id}</template>
            <mappingAttName>type</mappingAttName>
            <mappingAttValue>smufl</mappingAttValue>
        </dataSource>
        <dataSource>
            <label>Edirom SMuFL-Browser localhost 2</label>
            <basePath>http://localhost:8080/exist/apps/smufl-browser/data/charDecl.xml</basePath>
            <fontName>BravuraText</fontName>
            <displayMode>vector</displayMode>
            <template>${basePath}#${id}</template>
            <mappingAttName>type</mappingAttName>
            <mappingAttValue>smufl</mappingAttValue>
        </dataSource>
    </dataSources>
</config>
