<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<config xmlns="http://www.richard-strauss-ausgabe.de/ns/1.0">
    <tabIndex>1</tabIndex>
    <userSearchFieldScopeIndex>0</userSearchFieldScopeIndex>
    <browserSearchFieldScopeIndex>0</browserSearchFieldScopeIndex>
    <userViewIndex>0</userViewIndex>
    <browserViewIndex>0</browserViewIndex>
    <dataSources>
        <dataSource>
            <label>Edirom SMuFL Browser (web, bitmap)</label>
            <basePath>http://edirom.de/smufl-browser/index.xml</basePath>
            <fontName>BravuraText</fontName>
            <glyphRenderer>bitmap</glyphRenderer>
            <sizeFactor>0.8</sizeFactor>
            <template>&lt;g ref="http://edirom.de/smufl-browser/${id}.xml</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>SMuFL Browser (web, bitmap)</label>
            <basePath>http://aerhard.github.io/glyphpicker/testdata/smuflBrowser/data/charDecl.xml</basePath>
            <fontName>BravuraText</fontName>
            <glyphRenderer>bitmap</glyphRenderer>
            <sizeFactor>0.8</sizeFactor>
            <template>&lt;g ref="${basePath}#${id}"/&gt;</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>SMuFL Browser (web, glyph)</label>
            <basePath>http://aerhard.github.io/glyphpicker/testdata/smuflBrowser/data/charDecl.xml</basePath>
            <fontName>BravuraText</fontName>
            <glyphRenderer>scaled vector</glyphRenderer>
            <sizeFactor>0.7</sizeFactor>
            <template>&lt;g ref="${basePath}#${id}"/&gt;</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>gBank (web, bitmap)</label>
            <basePath>http://aerhard.github.io/glyphpicker/testdata/gBankImages/gBank.xml</basePath>
            <fontName>Andron Scriptor Web</fontName>
            <glyphRenderer>bitmap</glyphRenderer>
            <sizeFactor>1.0</sizeFactor>
            <template>&lt;g ref="#${id}"/&gt;</template>
            <typeAttributeValue></typeAttributeValue>
            <subtypeAttributeValue>PUA</subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>gBank (web, glyph)</label>
            <basePath>http://aerhard.github.io/glyphpicker/testdata/gBankImages/gBank.xml</basePath>
            <fontName>Andron Scriptor Web</fontName>
            <glyphRenderer>vector</glyphRenderer>
            <sizeFactor>0.5</sizeFactor>
            <template>&lt;g ref="#${id}"/&gt;</template>
            <typeAttributeValue></typeAttributeValue>
            <subtypeAttributeValue>PUA</subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>SMuFL Browser (local, bitmap)</label>
            <basePath>/Users/Ahlse/Desktop/SMuFL-Browser-1.0/data/charDecl.xml</basePath>
            <fontName>BravuraText</fontName>
            <glyphRenderer>bitmap</glyphRenderer>
            <sizeFactor>0.7</sizeFactor>
            <template>&lt;g ref="${basePath}#${id}"/&gt;</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>SMuFL Browser (local, glyph)</label>
            <basePath>/Users/Ahlse/Desktop/SMuFL-Browser-1.0/data/charDecl.xml</basePath>
            <fontName>BravuraText</fontName>
            <glyphRenderer>scaled vector</glyphRenderer>
            <sizeFactor>0.7</sizeFactor>
            <template>&lt;g ref="${basePath}#${id}"/&gt;</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>gBank (local, bitmap)</label>
            <basePath>/Users/Ahlse/Desktop/gBankImages/gBank.xml</basePath>
            <fontName>Andron Scriptor Web</fontName>
            <glyphRenderer>bitmap</glyphRenderer>
            <sizeFactor>1.0</sizeFactor>
            <template>&lt;g ref="#${id}"/&gt;</template>
            <typeAttributeValue></typeAttributeValue>
            <subtypeAttributeValue>PUA</subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>gBank (local, glyph)</label>
            <basePath>/Users/Ahlse/Desktop/gBankImages/gBank.xml</basePath>
            <fontName>Andron Scriptor Web</fontName>
            <glyphRenderer>vector</glyphRenderer>
            <sizeFactor>0.5</sizeFactor>
            <template>&lt;g ref="#${id}"/&gt;</template>
            <typeAttributeValue></typeAttributeValue>
            <subtypeAttributeValue>PUA</subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>SMuFL Browser (localhost, glyph)</label>
            <basePath>http://localhost:8080/exist/apps/smufl-browser/index.xml</basePath>
            <fontName>BravuraText</fontName>
            <glyphRenderer>scaled vector</glyphRenderer>
            <sizeFactor>0.7</sizeFactor>
            <template>&lt;g ref="http://edirom.de/smufl-browser/${id}.xml"/&gt;</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
        <dataSource>
            <label>SMuFL Browser (localhost, bitmap)</label>
            <basePath>http://localhost:8080/exist/apps/smufl-browser/index.xml</basePath>
            <fontName>BravuraText</fontName>
            <glyphRenderer>bitmap</glyphRenderer>
            <sizeFactor>0.7</sizeFactor>
            <template>&lt;g ref="http://edirom.de/smufl-browser/${id}.xml"/&gt;</template>
            <typeAttributeValue>smufl</typeAttributeValue>
            <subtypeAttributeValue></subtypeAttributeValue>
            <parseMapping>true</parseMapping>
        </dataSource>
    </dataSources>
</config>
