<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    id="com.aerhard.oxygen.plugin.glyphpicker"
    name="${project.name}"
    description="GlyphPicker Plugin for TEI"
    version="${project.version}"
    vendor="Alexander Erhard"
    class="com.aerhard.oxygen.plugin.glyphpicker.GlyphPickerPlugin"
    classLoaderType="preferReferencedResources">
    <runtime>
        <library name="lib/json-20140107.jar"/>
        <library name="lib/glazedlists_java15-1.9.0.jar"/>
        <library name="lib/${project.build.finalName}.jar"/>
    </runtime>
    <extension type="WorkspaceAccess" 
    class="com.aerhard.oxygen.plugin.glyphpicker.GlyphPickerPluginExtension" keyboardShortcut="ctrl shift I"/>
    <view id="GlyphPicker" initialSide="EAST" initialRow="0"/>
</plugin> 
