<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    id="de.badw.strauss.glyphpicker"
    name="${project.name}"
    description="GlyphPicker Plugin for TEI"
    version="${project.version}"
    vendor="Alexander Erhard"
    class="de.badw.strauss.glyphpicker.GlyphPickerPlugin"
    classLoaderType="preferReferencedResources">
    <runtime>
        <!--<library name="lib/glazedlists_java15-1.9.0.jar"/>-->
        <library name="lib/glazedlists_java16-1.10-SNAPSHOT.jar"/>
        <library name="lib/${project.build.finalName}.jar"/>
    </runtime>
    <extension type="WorkspaceAccess" 
    class="de.badw.strauss.glyphpicker.GlyphPickerPluginExtension"/>
    <view id="GlyphPicker" initialSide="EAST" initialRow="0"/>
</plugin> 
